beautifulsoup4==4.13.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==40.0.2
dnspython==2.7.0
idna==3.10
lxml==5.3.1
neo4j==5.28.1
numpy==2.2.3
pandas==2.2.3
pillow==11.1.0
pycparser==2.22
pymongo==4.11.1
PySimpleGUI==4.60.5.0
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
six==1.17.0
soupsieve==2.6
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
